{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "es6": true
  },
  "extends": ["airbnb-base", "plugin:ava/recommended"],
  "plugins": ["ava"],
  "rules": {
    "no-param-reassign": [2, { "props": false }],
    "consistent-return": 0
  }
}
